.main-div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
form{
    display: inline-flex;
    flex-direction: column;
    gap: 20px;
}
.div-btn{
    display: flex;
    justify-content: center;
}
body{
    display: flex;
    justify-content: center;
}